/* 表のセル内で文字列を折り返し、表が横にはみ出さないようにする。 */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

/* 数式番号を数式の右側に表示する。 */
div.math {
    position: relative;
}

div.math > span.eqno {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
